<!-- Header -->
<header id="js-header" class="u-header u-header--sticky-top">
  <div class="u-header__section u-header__section--admin-dark g-min-height-65">
    <nav class="navbar no-gutters g-pa-0">
      <div class="col-auto d-flex flex-nowrap u-header-logo-toggler g-py-12">
        <!-- Logo -->
        <a href="#" class="navbar-brand d-flex align-self-center g-hidden-xs-down g-line-height-1 py-0 g-mt-5">
          <h3>Employee Manager</h3>
        </a>
        <!-- End Logo -->
        <!-- Sidebar Toggler -->
        <a class="js-side-nav u-header__nav-toggler d-flex align-self-center ml-auto" href="#"
           data-hssm-class="u-side-nav--mini u-sidebar-navigation-v1--mini" data-hssm-body-class="u-side-nav-mini"
           data-hssm-is-close-all-except-this="true" data-hssm-target="#sideNav">
          <em class="hs-admin-align-left"></em>
        </a>
        <!-- End Sidebar Toggler -->
      </div>
      <!-- Top Search Bar -->
      <form id="searchMenu" class="u-header--search col-sm g-py-12 g-ml-15--sm g-ml-20--md g-mr-10--sm"
            aria-labelledby="searchInvoker" action="#!">
        <div class="input-group g-max-width-450--sm">
          <input class="form-control h-100 form-control-md g-rounded-4 g-pr-40" type="text" placeholder="Search...">
          <button type="submit"
                  class="btn u-btn-outline-primary g-brd-none g-bg-transparent--hover g-pos-abs g-top-0 g-right-0 d-flex g-width-40 h-100 align-items-center justify-content-center g-font-size-18 g-z-index-2">
            <em class="hs-admin-search"></em>
          </button>
        </div>
      </form>
      <!-- End Top Search Bar -->
      <!-- Messages/Notifications/Top Search Bar/Top User -->
      <div class="col-auto d-flex g-py-12 g-pl-40--lg ml-auto">
        <!-- Top Messages -->
        <div class="g-pos-rel g-hidden-sm-down g-mr-5">
          <a id="messagesInvoker"
             class="d-block text-uppercase u-header-icon-v1 g-pos-rel g-width-40 g-height-40 rounded-circle g-font-size-20"
             href="#" aria-controls="messagesMenu" aria-haspopup="true" aria-expanded="false"
             data-dropdown-event="click" data-dropdown-target="#messagesMenu"
             data-dropdown-type="css-animation" data-dropdown-duration="300" data-dropdown-animation-in="fadeIn"
             data-dropdown-animation-out="fadeOut">
            <span
              class="u-badge-v1 g-top-7 g-right-7 g-width-18 g-height-18 g-bg-primary g-font-size-10 g-color-white rounded-circle p-0">7</span>
            <em class="hs-admin-comment-alt g-absolute-centered"></em>
          </a>
          <!-- Top Messages List -->
          <div id="messagesMenu" class="g-absolute-centered--x g-width-340 g-max-width-400 g-mt-17 rounded"
               aria-labelledby="messagesInvoker">
            <div class="media u-header-dropdown-bordered-v1 g-pa-20">
              <h4
                class="d-flex align-self-center text-uppercase g-font-size-default g-letter-spacing-0_5 g-mr-20 g-mb-0">
                3 new messages</h4>
              <div class="media-body align-self-center text-right">
                <a class="g-color-secondary" href="#">View All</a>
              </div>
            </div>
          </div>
          <!-- End Top Messages List -->
        </div>
        <!-- End Top Messages -->
        <!-- Top Notifications -->
        <div class="g-pos-rel g-hidden-sm-down">
          <a id="notificationsInvoker"
             class="d-block text-uppercase u-header-icon-v1 g-pos-rel g-width-40 g-height-40 rounded-circle g-font-size-20"
             href="#" aria-controls="notificationsMenu" aria-haspopup="true" aria-expanded="false"
             data-dropdown-event="click"
             data-dropdown-target="#notificationsMenu" data-dropdown-type="css-animation" data-dropdown-duration="300"
             data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut">
            <em class="hs-admin-bell g-absolute-centered"></em>
          </a>
          <!-- Top Notifications List -->
          <div id="notificationsMenu"
               class="js-custom-scroll g-absolute-centered--x g-width-340 g-max-width-400 g-height-400 g-mt-17 rounded"
               aria-labelledby="notificationsInvoker">
            <div class="media text-uppercase u-header-dropdown-bordered-v1 g-pa-20">
              <h4 class="d-flex align-self-center g-font-size-default g-letter-spacing-0_5 g-mr-20 g-mb-0">
                Notifications</h4>
            </div>
          </div>
          <!-- End Top Notifications List -->
        </div>
        <!-- End Top Notifications -->
        <!-- Top Search Bar (Mobi) -->
        <a id="searchInvoker"
           class="g-hidden-sm-up text-uppercase u-header-icon-v1 g-pos-rel g-width-40 g-height-40 rounded-circle g-font-size-20"
           href="#" aria-controls="searchMenu" aria-haspopup="true" aria-expanded="false" data-is-mobile-only="true"
           data-dropdown-event="click"
           data-dropdown-target="#searchMenu" data-dropdown-type="css-animation" data-dropdown-duration="300"
           data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut">
          <em class="hs-admin-search g-absolute-centered"></em>
        </a>
        <!-- End Top Search Bar (Mobi) -->
        <!-- Top User -->
        <div class="col-auto d-flex g-pt-5 g-pt-0--sm g-pl-10 g-pl-20--sm">
          <div class="g-pos-rel g-px-10--lg">
            <a id="profileMenuInvoker" class="d-block" href="#" aria-controls="profileMenu" aria-haspopup="true"
               aria-expanded="false" data-dropdown-event="click" data-dropdown-target="#profileMenu"
               data-dropdown-type="css-animation" data-dropdown-duration="300"
               data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut">
                <span class="g-pos-rel">
        <span class="u-badge-v2--xs u-badge--top-right g-hidden-sm-up g-bg-secondary g-mr-5"></span>
                <img class="g-width-30 g-width-40--md g-height-30 g-height-40--md rounded-circle g-mr-10--sm"
                     src="" alt="...">
                </span>
              <span class="g-pos-rel g-top-2">
        <span class="g-hidden-sm-down">Admin</span>
                <em class="hs-admin-angle-down g-pos-rel g-top-2 g-ml-10"></em>
                </span>
            </a>
            <!-- Top User Menu -->
            <ul id="profileMenu"
                class="g-pos-abs g-left-0 g-width-100x--lg g-nowrap g-font-size-14 g-py-20 g-mt-17 rounded"
                aria-labelledby="profileMenuInvoker">
              <li class="g-hidden-sm-up g-mb-10">
                <a class="media g-py-5 g-px-20" href="#">
                    <span class="d-flex align-self-center g-pos-rel g-mr-12">
          <span
            class="u-badge-v1 g-top-minus-3 g-right-minus-3 g-width-18 g-height-18 g-bg-secondary g-font-size-10 g-color-white rounded-circle p-0">10</span>
                    <em class="hs-admin-comment-alt"></em>
                    </span>
                  <span class="media-body align-self-center">Unread Messages</span>
                </a>
              </li>
              <li class="g-hidden-sm-up g-mb-10">
                <a class="media g-py-5 g-px-20" href="#">
                    <span class="d-flex align-self-center g-mr-12">
          <em class="hs-admin-bell"></em>
        </span>
                  <span class="media-body align-self-center">Notifications</span>
                </a>
              </li>
              <li class="g-mb-10">
                <a class="media g-color-primary--hover g-py-5 g-px-20" href="#">
                    <span class="d-flex align-self-center g-mr-12">
          <em class="hs-admin-user"></em>
        </span>
                  <span class="media-body align-self-center">Profile</span>
                </a>
              </li>
              <li class="g-mb-10">
                <a class="media g-color-primary--hover g-py-5 g-px-20" href="#">
                    <span class="d-flex align-self-center g-mr-12">
          <em class="hs-admin-rocket"></em>
        </span>
                  <span class="media-body align-self-center">Upgrade</span>
                </a>
              </li>
              <li class="g-mb-10">
                <a class="media g-color-primary--hover g-py-5 g-px-20" href="#">
                    <span class="d-flex align-self-center g-mr-12">
          <em class="hs-admin-layout-grid-2"></em>
        </span>
                  <span class="media-body align-self-center">Projects</span>
                </a>
              </li>
              <li class="g-mb-10">
                <a class="media g-color-primary--hover g-py-5 g-px-20" href="#">
                    <span class="d-flex align-self-center g-mr-12">
          <em class="hs-admin-shift-right"></em>
        </span>
                  <span class="media-body align-self-center">Sign Out</span>
                </a>
              </li>
            </ul>
            <!-- End Top User Menu -->
          </div>
        </div>
        <!-- End Top User -->
      </div>
      <!-- End Messages/Notifications/Top Search Bar/Top User -->
    </nav>
  </div>
</header>
<!-- End Header -->

